* {
    margin: 0px;
    padding: 0px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.task {
    margin: 10px;
    font-size: 20px;
}

.insertDate {
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
}

.del-btn {
    border: 1px solid black;
    font-size: 15px;
    padding: 4px;
    margin: 5px;
    border-radius: 3px;
}

.t-done {
    width: 20px;
    height: 20px;
}

.add-form {
    margin: 10px;
}